---
---

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Clairvoyance</title>
    </head>
    <body>
        <ul>
            <li><a href="/Archives/Prototype/">Prototype</a></li>
        </ul>
        <h1>Clairvoyance</h1>
        <p>Test</p>
    </body>
</html>