---
import BaseLayout from '../../layouts/base.astro';
const docsList = Object.values(import.meta.glob('./*.md', { eager: true }));
const pageTitle = "Clairvoyance | Archives";
---

<BaseLayout title={pageTitle}>
    {docsList.map((doc: any)=><li><a href={doc.url}>{doc.frontmatter.title}</a></li>)}
</BaseLayout>