---
import Navigator from '../../components/Navigator/navigator.astro';
---
<div class = "header">
    <header>
        <!-- Logo area, on clicked linked to 'Gate' page  -->
        <div class = "header_logo">
            <a href="/Gate/">Clairvoyance</a>
        </div>
        <!-- Navigator bar -->
        <nav>
            <Navigator />
        </nav>
    </header>
</div>