---
import Navigator from '../../components/Navigator/navigator.astro';
---
<div class = "header">
    <header>
        <a href="/Gate/">Clairvoyance (Header Logo)</a>
        <nav>
            <Navigator />
        </nav>
    </header>
</div>