---
const profile = "https://github.com/jav1ki4N"
---
<div class = "footer">
    <footer>
        <copyright>
            <p><b>Github</b>:<a href={profile}>Jav1ki4N</a></p>
        </copyright>
    </footer>
</div>
