<!-- noted that the navigator component is a part of the header -->
---
---
<div id="nav_ori" class="nav">
    <a href = "/Gate">Gate</a>
    <a href = "/About/">About</a>
    <a href = "/Archives/">Archives</a>
</div>